<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
 
 
<mapper namespace="com.warehouse_management.mapper.ProductMapper">  
    <!-- resultMap映射 -->
	<resultMap type="com.warehouse_management.pojo.Product" id="productRM">
		<!-- 主键 -->
		<id property="id" column="id" jdbcType="INTEGER" />
		<!-- 一般属性 -->
		<result property="name" column="pname" jdbcType="VARCHAR"/>
		<result property="price" column="price" jdbcType="DOUBLE"/>
		<result property="desc" column="pdesc"/>
		<result property="weight" column="weight" jdbcType="INTEGER"/>
		<result property="model" column="model" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 查询一个 -->
	<select id="selectProductById" parameterType="int" resultMap="productRM">
		select * from product
		where id=#{id}
	</select>
	
	<!-- 查询 -->
	<select id="selectAllProduct" resultMap="productRM">
		select * from product
	</select>
	
	<insert id="insertProduct" parameterType="com.warehouse_management.pojo.Product" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into product
		(PNAME,PRICE,PDESC,WEIGHT,MODEL)
		values
		(
			#{name,jdbcType=VARCHAR},
			#{price,jdbcType=DOUBLE},
			#{desc},
			#{weight,jdbcType=INTEGER},
			#{model,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 修改语句 -->
	<update id="updateProduct" parameterType="com.warehouse_management.pojo.Product">
		update product
		<set>
	 	   <if test="name != null">pname=#{name},</if>
		   <if test="price != null">price=#{price},</if>
		   <if test="desc != null">pdesc = #{desc},</if>
		   <if test="weight != null">weight=#{weight},</if>
		   <if test="model != null">model=#{model}</if>
		</set>
		where id=#{id}
	</update>
	
	<!-- 删除一条 -->
	<delete id="deleteProductById" parameterType="int">
		delete from product
		where id=#{id}
	</delete>
</mapper>  
